
@{
    ViewBag.Title = "About";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="color:white">
        <br>
        <br>
        <br>
        <h1 class="display-4 ">Dünyayı Kurtaracağız</h1>
        <p class="lead"> Biz Kimiz Firmamızı Tanıyın.</p>
        <br>
        <br>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <img src="~/Upload/people.jpg" alt="">
        </div>
        <div class="col-md-9">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi sequi quaerat sit, at laboriosam quae unde fugiat officiis, ipsa velit tempora dolorum pariatur cupiditate natus error facere, vero vitae quo quidem a rem iste fugit. Harum saepe quo doloribus, error deserunt facilis! Error expedita magni id ad modi ipsum repudiandae sit esse nemo, nam odio ab qui ratione, reprehenderit facere corporis consequatur cupiditate adipisci cumque ut temporibus animi est! Assumenda voluptas voluptatem cum ipsum ullam, dolorum aut tenetur odio consequuntur, aliquam iste enim provident at placeat nemo ea magni ipsam eveniet aperiam maxime architecto? Nihil minus atque doloremque quas explicabo!</p>
        </div>


    </div>
    <div class="row">
        <div class="col-md-9">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque ipsam officia voluptate labore dicta quos voluptatem, illo distinctio minus consectetur, perferendis omnis, facilis debitis rem ea. Laudantium ipsum praesentium qui unde adipisci magnam fuga, ullam, eaque ipsa aliquid totam possimus odit quaerat? Consequatur accusantium possimus officiis ullam sequi excepturi? Tempore at enim reiciendis pariatur nam, inventore quisquam deserunt sunt natus nisi magni, repudiandae nobis voluptates, molestias dolore? Porro recusandae velit ratione nam? Odit ullam, dolore quod amet quam suscipit harum, quibusdam aut natus eaque ipsam quisquam consequatur cupiditate perspiciatis praesentium cumque, vel eos commodi blanditiis repellat illum. Eaque, impedit repellendus.
            </p>
        </div>
        <div class="col-md-3">
            <img src="~/Upload/fidandikme.jpg" alt="">
        </div>
    </div>



</div>
