
<ul class="navbar-nav  my-2 my-lg-0">

    @if (Request.IsAuthenticated)
    {
        //kullanıcı adı gelecek
        <li class="nav-item active">
            <a class="nav-link" href="/Account">@User.Identity.Name</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout">Çıkış Yap</a>
        </li>
        if (User.Identity.Name == "polattucar")
        {
            <li class="nav-item active">
                <a class="nav-link" href="/Category/Index">Yönetici Paneli</a>
            </li>
        }
    }
    else
    {
        //login ve register gelecek
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login">Giriş Yap</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Register">Kayıt Ol</a>
        </li>
    }



</ul>
